:root{
  --primary-color: #f1daaf;
  --hover-color: #f0ad5b;
  --background-color: #281b01;
  --background-card-color: #5b3606;
  

}

/*por defecto no aplicamos márgenes ni padding y los enlaces no aparecerán subrayados*/
*{  margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color:#f1f1f1;
    text-align: justify;
    }
/*ajustamos el boddy para que ocupe todo el espacio de la pantalla*/
body{
    background-color: var(--background-color);
    height: 99vh;
    width: 98vw;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    }

/*--------------------Ediciones-generales------------------------*/

/*Párrafos por defecto*/
p{
    font-size: 100%;
    padding: 0;
    /* text-align: center; */
    user-select: none;
}

/*Enlaces por defecto*/
a, i{
    color: var(--primary-color);
}

/*Encabezados por defecto*/
h1{
	font-size: 30px;
    margin: 1.25em; /*em -> tamaño con respecto al font-size*/
	padding: 0;
	text-align: center;
    color: var(--primary-color);
}

h2{
  font-size: 25px;
    margin: 1em; /*em -> tamaño con respecto al font-size*/
  padding: 0;
	text-align: center;
    color: var(--primary-color);
}

h3{
  font-size: 20px;
    margin: 0.75em; /*em -> tamaño con respecto al font-size*/
  padding: 0;
	text-align: center;
    color: var(--primary-color);
}

/*---Página principal divida---*/
.marco {
  display: grid;
  grid-template-columns: 15% 85%;
  background-color: var(--background-color);
  height: 99vh;
  
}

/*---Barra lateral---*/
.marco_izq {
  background-color: #000000;
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 100vh;
  text-align: left;
}

/*Div que contiene toda la información*/
.ColDcha {
  background-color: var(--background-color);
  padding: 0;
  font-size: 30px;
  max-height: 89vh;
  text-align: center;
  color: var(--primary-color);
}

.encabezado{
  display: grid;
  /* grid-template-columns: 20% 80%; */
  /* background-color: #000000; */
  color: var(--primary-color);
  user-select: none;
  height: 15vh;
  padding-left: 0.5em;
  padding-top: 0.07em;
}

.encabezado img {
  width: 60%;
  height: 85%;
  margin-left: 2em;
  /* object-fit: cover; */
  /* object-position: center; */
}

.navbar{
  display: grid;
  /* background-color: #000000; */
  /* color: #EBE0FFFF; */
  user-select: none;
  /* height: 5vh; */
  /* padding-left: 0.5em; */
  padding-top: 0.07em;
  margin-top: 2em;
}

.navbar h1{
  text-align: left;
  position: relative;
  font-size: 1.3em;
  line-height: 1em;
  /* margin-top: -1.5em; */
  /* margin-bottom: 0.5em; */
  letter-spacing: 2px;
  margin-left: 1em;
  text-transform: uppercase;
  color: var(--primary-color);
  -webkit-text-stroke: 1px var(--primary-color);
}

.navbar h1::before{
  content: attr(data-text);
  position: absolute;
  color: transparent;
  width: 0;
  margin-left: -0.35em;
  /*margin-top: 0.85em;*/
  overflow: hidden;
  transition: 1s;
  border-right: 3px solid var(--hover-color);
  -webkit-text-stroke: 3px var(--hover-color);
}

.navbar h1:hover::before{
  width: 90%;
  filter: drop-shadow(0 0 25px var(--hover-color));
}

.cabecera{
  height: 10vh;
  width: 85.25vw;
  background-color: #000000;
}

.page{
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 1%;
  /* width: 100%; */
  /* margin: 0 0.5%; */
  height: 89vh;
  width: 83.3vw;
  /* overflow-y: hidden; */
  overflow-x: hidden;
  position: absolute;
  visibility: hidden;
  /* margin-top: 7.25vh; */
  /* background-color: #212121; */
}

.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    /* margin: 2%; */
    /* height: 100%; */
    /* background-color: var(--background-color); */
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 12.5%;
    height: 200px;
    border: 1px solid var(--primary-color);
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin:2%;
  }

  .flip-card_peliculas {
    background-color: transparent;
    width: 11.5%;
    height: 200px;
    border: 1px solid var(--primary-color);
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin:1%;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner, .flip-card_peliculas:hover .flip-card-inner, .flip-card_razas:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-front img{
    width: 100%;
    height: 100%;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: var(--background-card-color);
    transform: rotateY(180deg);
  }

  .card_title{
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 50%;
    /* margin-left: 10%; */
    padding: 0;
    text-align: center;
    color: var(--primary-color);
  }

  .card_title_libros{
    font-size: 0.75em;
    font-weight: bold;
    /* margin-top: 50%; */
    /* margin-left: 10%; */
    padding: 0;
    text-align: center;
    color: var(--primary-color);
  }

  .card_title_peliculas{
    font-size: 0.75em;
    font-weight: bold;
    margin-top: 50%;
    /* margin-left: 10%; */
    padding: 0;
    text-align: center;
    color: var(--primary-color);
  }

  #cinytm_peli{
    font-size: 0.75em;
    font-weight: bold;
    margin-top: 40%;
    /* margin-left: 10%; */
    padding: 0;
    text-align: center;
    color: var(--primary-color);
  }

  .flip-card-back p{
    font-size: 0.75em;
    /* font-weight: bold; */
    /* margin-top: 50%; */
    /* margin-left: 10%; */
    padding: 0;
    margin: 2%;
    text-align: center;
    color: white;
  }
