.marco_personajes{
    display: grid;
    grid-template-columns: 75% 25%;
}

.introduccion_personajes{
    text-align: justify;
    padding: 10px;
    width: 50vw;
    font-size: 1.25em;
}

.cabecera_personajes{
    height: 10vh;
    width: 50vw;
}

.espacio{
    height: 10vh;
    width: 50vw;
}

.ficha{
    /* position: absolute; */
    background-color: aquamarine;
    height: 60vh;
    /* width: 30%; */
    float: right;
    margin-right: 1em;
}

.ficha img{
    margin: 0.85em;
}

.ficha h3{
    text-align: center;
    font-size: 1.25em;
    color: #000000;
    margin-top: 0em;
}